<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
  data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item"  data-target="#navbarsExampleDefault" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
        <a class="nav-link"  routerLink="usuario">Usuario</a>
      </li>
    </ul> 
    <div class="usertext"><i class="fa fa-user-circle-o" style="color:white; font-size: 24px;"></i> {{data.usuario.nombre}}</div>
    
  </div>
</nav>
