<div class="container">

  <h1>Usuarios</h1>


  <div class="reglist">

    <div class="text-left">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal" (click)="onNew()">
        <span class="fa fa-plus"></span> Agregar</button>
      <button type="button" class="btn btn-primary" (click)="borrarMedicos()">
        <span class="fa fa-minus"></span> Borrar Médicos</button>
    </div>

    <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Consecutivo</th>
          <th>Id</th>
          <th>Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Genero</th>
          <th>Fecha Nacimiento</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.primerApellido }}</td>
          <td>{{ usuario.segundoApellido }}</td>
          <td>{{ usuario.genero }}</td>
          <td>{{ usuario.fechaNacimiento.day + '/' + usuario.fechaNacimiento.month + '/' + usuario.fechaNacimiento.year}}</td>
          <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add-edit-Modal" (click)="onEdit(i)">
              <span class="fa fa-pencil"></span> Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="confirmDelete(i)">
              <span class="fa fa-minus"></span> Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <br>

  <!-- The Cancel Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmación</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          ¿Está seguro que desea eliminar este elemento?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete(selectedIndex)">Sí</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>

  <div class="regentry" *ngIf="showNew">
    <div class="modal fade" id="add-edit-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:20px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar/Editar Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br/>
          <form (ngSubmit)="onSave()">

            <div class="form-group row">
              <label for="tipoUsuario" class="col-2 col-form-label control-label required">Tipo Usuario</label>
              <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary" id="dropdownManual1" name="tipoUsuarioSelect" [ngClass]="{'has-error': !formUsuario.controls['tipoUsuario'].valid && !tipoUsuarioValido}"
                  ngbDropdownToggle>{{regModel.tipoUsuario}}</button>
                <div style="color:red;" *ngIf="!formUsuario.controls['tipoUsuario'].valid && !tipoUsuarioValido">
                  Campo requerido.
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button type="button" class="dropdown-item" *ngFor="let tipoUsuario of tipoUsuarios" (click)="onChangeTipoUsuario(tipoUsuario)">
                    <input class="form-control" style="display:none;" type="text" maxlength="45" [(ngModel)]="regModel.tipoUsuario" formControlName="tipoUsuario"
                      name="tipoUsuario" /> {{tipoUsuario}}
                  </button>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label *ngIf="regModel.tipoUsuario == 'Paciente'" for="id" class="col-2 col-form-label control-label required">NHC</label>
              <label *ngIf="regModel.tipoUsuario == 'Profesional'" for="id" class="col-2 col-form-label control-label required">No. Colegiado</label>

              <div class="col-10">
                <input class="form-control" type="text" maxlength="9" [(ngModel)]="regModel.id" [ngClass]="{'has-error': !formUsuario.controls['id'].valid && !idValido}"
                  formControlName="id" name="id">
                <div style="color:red;" *ngIf="!formUsuario.controls['id'].valid && !idValido">
                  Campo requerido.
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label control-label required">Nombre</label>

              <div class="col-10">
                <input class="form-control" type="text" maxlength="20" [(ngModel)]="regModel.nombre" [ngClass]="{'has-error': !formUsuario.controls['nombre'].valid && !nombreValido}"
                  formControlName="nombre" name="nombre">
                <div style="color:red;" *ngIf="!formUsuario.controls['nombre'].valid && !nombreValido">
                  Campo requerido.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label control-label required">Primer Apellido</label>

              <div class="col-10">
                <input class="form-control" type="text" maxlength="9" [(ngModel)]="regModel.primerApellido" [ngClass]="{'has-error': !formUsuario.controls['primerApellido'].valid && !primerApellidoValido}"
                  formControlName="primerApellido" name="primerApellido">
                <div style="color:red;" *ngIf="!formUsuario.controls['primerApellido'].valid && !primerApellidoValido">
                  Campo requerido.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label">Segundo Apellido</label>
              <div class="col-10">
                <input class="form-control" type="text" maxlength="9" [(ngModel)]="regModel.segundoApellido" formControlName="segundoApellido"
                  name="segundoApellido">
              </div>
            </div>


            <div class="form-group row">
              <label for="genero" class="col-2 col-form-label">Genero</label>
              <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary" id="dropdownManual1" formControlName="genero" name="genero" ngbDropdownToggle>{{regModel.genero}}</button>

                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button type="button" class="dropdown-item" *ngFor="let genero of generos" (click)="onChangeGenero(genero)">
                    {{genero}}</button>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="fecha" style="width:120px;" class="col-2 col-form-label">Fecha Nacimiento</label>
              <div class="col-3 input-group">
                <input style="width:120px;" type="text" class="form-control" placeholder="yyyy-mm-dd" name="fecha" [(ngModel)]="regModel.fechaNacimiento"
                  formControlName="fechaNacimiento" ngbDatepicker #fecha="ngbDatepicker">
                <button class="input-group-addon" (click)="fecha.toggle()" type="button">
                  <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                </button>
              </div>
            </div>



            <div class="form-group row">
              <label for="lastname-input" class="col-2 col-form-label">NIF</label>
              <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.nif" formControlName="nif" name="nif">
              </div>
            </div>


            <button type="submit" class="btn btn-primary">
              <span class="fa fa-check"></span> Guardar</button>
            <button type="submit" class="btn btn-danger" #modalClose data-dismiss="modal" (click)="onCancel()">
              <span class="fa fa-remove"></span> Cancelar</button>
          </form>
        </div>
      </div>
    </div>


  </div>


</div>