.btn-primary {
    color: #fff;
    background-color: #009823;
    border-color: #009823;
}

pagination-controls /deep/  .ngx-pagination li.current {
    padding: 0.1875rem 0.625rem;
    background: #1756b8 !important;
    color: #fefefe;
    cursor: default;
}

.control-label.required:after { 
    color: #d00;
    content: "*";
    margin-left: 2px;
  }

  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 75.333333%;
    max-width: 75.333333%;
}

  .col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    line-height: 1.5;
    margin-right: 5px;
}

  .has-error {
    border-color: red;
}

.has-success {
    color: black;
    background-color: green;
}


.btn-info {
    color: #fff;
    background-color: #1756b8;
    border-color: #1756b8;
}

.btn-danger {
    color: #fff;
    background-color: #ff0101;
    border-color: #ff0101;
}

@media (max-width: 1024px) {
    .modal-content {
        position: relative;
        width: 400px;
        margin:auto;
        font-size: 12px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }
}

@media (min-width: 1024px) {
    .modal-content {
        position: relative;
        width: 600px;
        margin:auto;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }
}


