:host {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.input {
	position: relative;
}

div.input label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: white;
	padding: 5px 2px;
}

div.input input {
	padding: 10px 20px;
	font-size: 25px;
	outline: 0;
}

div.input {
	margin-top: 20px;
}

.btn-primarylogin {
    color: #fff;
	background-color: #dc3545;
    border-color: #dc3545;
    margin-left: 90px;
}

.btn-primarylogin {
    color: #fff;
    background-color: #ea0b21;
    border-color: #dc3545;
}